body{
    background-color: #333;
}
h1{
    color: black;
}
#baner{
    margin-bottom: 30px;
}

.demo-layout-transparent {
          background: url('../images/winter.jpg') center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
  background-color: rgba(0, 0, 0 , 0.5);
}

a, a:visited, a:link, a:hover, a:hover
{
    text-decoration: none;
}

.whitetitle{
    color: White;
}

#container-map {
    margin: auto;
    width: 100%;
    height: 800px;
}
