body{
    background-color: #333;
    text-align: center;
}
h1{
    color: black;
}
#baner{
    margin-bottom: 30px;
}

.demo-layout-transparent {
          background: url('../images/burza.jpg') center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
  background-color: rgba(100, 100, 100, 0.3);
}

a:visited, a:link, a:hover, a:hover
{
    text-decoration: none;
}