<!doctype html>
<html>
<head>
    {% load static %}
    <title>weather.io - by GGD</title>

    {% block style %}
    {% endblock %}
    <!-- style MDL -->
    <link rel="stylesheet" type="text/css" href="{% static 'MDL/material.min.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'MDL/font-icon/icon.css' %}">

      <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>
<!-- content -->
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent mdl-layout--fixed-drawer">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout__title"><a class="whitetitle" href="{% url 'mapa' %}">weather.io</a></span>
            <div class="mdl-layout-spacer"></div>

            <!-- Expandable Textfield -->
            <form method="GET" action="{% url 'pogodamiasto' %}">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                  Miejscowość
                <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                  <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                  <input class="mdl-textfield__input" type="text" name="q" id="sample6">
                  <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                </div>
              </div>
            </form>
        </div>
    </header>
    <main class="mdl-layout__content">
        {% block content %}
        {% endblock %}
    </main>
</div>


<!-- MDL JS -->
<script type="text/javascript" src="{% static 'MDL/material.min.js' %}"></script>

<!-- jQuery -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

{% block scripts %}
{% endblock %}


</body>
</html>
