{% extends 'pogoda/base.html' %}

{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet/leaflet.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet-openweathermap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/files/map.css' %}"/>
    <script src="{% static 'leaflet/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'leaflet/leaflet/Permalink.js' %}"></script>
    <!--<script src="leaflet/leaflet/Permalink.Layer.js"></script>
    <script src="leaflet/leaflet/Permalink.Overlay.js"></script>-->
    <script src="{% static 'leaflet/leaflet-openweathermap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet/leaflet-languageselector.css' %}"/>
    <script src="{% static 'leaflet/leaflet/leaflet-languageselector.js' %}"></script>
    <script src="{% static 'leaflet/files/map_i18n.js' %}"></script>
    <script src="{% static 'leaflet/files/map.js' %}"></script>
{% endblock %}


{% block content %}
    <div id="container-map">
        <div id="map"></div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        initMap();
        var documentHeight = document.documentElement.clientHeight;
        $('#container-map').css('height', documentHeight);
    </script>
{% endblock %}