{% extends 'pogoda/base.html' %}

{% load mathfilters %}

{% block content %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp divcenter">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric"><h2>{{ msg }} {{ city }}</h2></th>
    </tr>
    </thead>
    {% for day in dni %}
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric"><h4>{{ day.0.day_name}} <span style="font-size: 12px;">({{ day.0.data }})</span>
        </h4></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Godzina</td>

        {% for x in day %}
            <td>{{ x.godzina }}</td>
        {% endfor %}

    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric"></td>

        {% for x in day %}
            <td><img src="../static/images/weathericons/{{ x.icon }}.svg" alt=""></td>
        {% endfor %}

    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Temperatura</td>

        {% for x in day %}
            <td>{{ x.temperature }}</td>
        {% endfor %}

    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Prędkość wiatru</td>

        {% for x in day %}
            <td>{{ x.wind_speed }}</td>
        {% endfor %}

    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Zachmurzenie</td>

        {% for x in day %}
            <td>{{ x.clouds }}</td>
        {% endfor %}

    </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}

